{% extends 'home/base.html' %}

{% block content %}
    <h1>Bienvenidos a InnovateNow</h1>
    <hr>
    <div class="row">
        <div class="col-md-8">
            <h2>Sobre Nosotros</h2>
            <p>
                InnovateNow es una empresa dedicada a proporcionar soluciones tecnológicas avanzadas que impulsan el éxito y crecimiento de nuestros clientes. Desde nuestra fundación, hemos colaborado con empresas de diversas industrias para resolver problemas complejos y alcanzar sus objetivos estratégicos mediante el uso efectivo de la tecnología.
            </p>
            <p>
                Nuestra misión es ser el socio tecnológico de confianza para las empresas que buscan innovar y mantenerse a la vanguardia. Nos especializamos en una amplia gama de servicios, incluyendo el desarrollo de software personalizado, consultoría tecnológica, desarrollo web y móvil, y transformación digital.
            </p>
            <p>
                En InnovateNow, creemos firmemente que la innovación es la clave del éxito en un mundo tecnológicamente cambiante. Nos mantenemos al día con las últimas tendencias y tecnologías emergentes para asegurar que nuestros clientes siempre tengan una ventaja competitiva.
            </p>
            <p>
                Más allá de ofrecer servicios, nos comprometemos a construir relaciones duraderas basadas en la confianza, la transparencia y los resultados tangibles. Colaboramos estrechamente con cada cliente para comprender sus necesidades específicas y ofrecer soluciones personalizadas que generen un impacto real y positivo en sus operaciones y estrategias empresariales.
            </p>
            <hr>
            <h2>Nuestros Valores</h2>
            <ul>
                <li><strong>Innovación:</strong> Fomentamos la creatividad y el pensamiento innovador en todas nuestras soluciones y servicios.</li>
                <li><strong>Excelencia:</strong> Nos esforzamos por superar las expectativas en todo lo que hacemos.</li>
                <li><strong>Colaboración:</strong> Trabajamos en estrecha colaboración con nuestros clientes para garantizar el éxito compartido.</li>
                <li><strong>Integridad:</strong> Actuamos con honestidad y transparencia en todas nuestras interacciones.</li>
                <li><strong>Orientación al Cliente:</strong> Nos dedicamos a comprender y satisfacer las necesidades de nuestros clientes de manera proactiva.</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
